header {
    background-color:rgba(65, 162, 180,0.67);
    background-image: url("../img/hero.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

header h1 {
    padding-left: 1rem;
}
.nav {
    background-color: #CDDA77;
}
.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.8rem 1rem;
}
.nav-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
}
nav ul{
    padding-left:0;
    text-align:right;
    display:inline-block;
}
nav ul li{
    display:inline-block;
    margin-right:10px;
}
nav ul li:last-child{
    margin-right:0;
}
nav ul li a{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition:color 0.3s ease-in;
    vertical-align:top;
    text-align:right;
    font-size: 14px;
    
}
nav ul li a:hover, nav ul li a:focus {
    color: #A71B2D;
}

.logo {
    display: block;
}

.logo img {
    width: 100%;
}

@media only screen and (min-width: 400px) {
    nav ul li {
        margin-rigth: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 675px) {
    nav {
        padding-right: initial;
        float: right;
    }
    .logo {
        display: inline-block;
    }
    .logo img {
        width: 300px;
        height: 68px;
    }
}