{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>FAIR:PLAY</title>
        <link href="{% static "css/home.css" %}" rel="stylesheet">
    </head>
    <body>
        <main>
        <h1>FAIR:PLAY</h1>
        <h2>Ensuring Equity in school sports</h2>
        <p>Pennsylvania schools are short changing female athletes.</p>
        <p>Title IX guarantees equitable educational opportunitities for girls and young women, including in athletics. 
        The law has been in force for over 40 years, yet many Pennsylvaia schools do not appear to be complying.</p>
        
        <form action="." method="post"> {% csrf_token %}      
            <input type="text" name="search" placeholder="Search for a school..">
            <input type="submit">
        </form>
        {% if schools %}
            <p>These schools start with <b>"{{search}}":</b></p>
            <ul class="school">
            {% for school in schools %}
                <li>
                    <h3>{{school.name}}</h3>
                    <span class="school__district"><b>District: </b><span>{{school.district.name}}</span></span>
                    <span class="school__county"><b>County: </b><span>{{school.county}}</span></span>
                </li>
            {% endfor %}
            
        {% elif search and not schools %}
                No schools started with {{search}}
        {% endif %}
        </ul>
        </main>
    </body>
</html>