{% include "header.html" %}
    <main>
        <section class="opportunity">
            <div class="opportunity-wrapper">
                <h2>Donate to the Women's Law Project</h2>
                <p>
                    FAIR:PLAY is just one of the efforts led by the Women's Law Project to achieve gender equity in Pennsylvania and across the country.
                </p>
                <p>
                    We invite you to <a href="http://www.womenslawproject.org/donate/">support</a> the Women's Law Project in high-impact litigation, legislative action, and community education to advance gender equity.
                </p>
            </div>
        </section>
    </main>
{% include "footer.html" %}