<footer>
    <div class="footer-wrapper">
        <p>FAIR:PLAY is an initiative of the Women's Law Project, made possible through the generous support of the FISA Foundation.</p>
        <p>The athletic participation data presented on this website are calculated from reports that public schools submit annually to the <a href="http://www.education.pa.gov/Teachers%20-%20Administrators/Interscholastic%20Athletic%20Opportunity/Pages/default.aspx#tab-1">Pennsylvania Department of Education</a>. The Women’s Law Project makes no representation regarding the accuracy, completeness, or reliability of the data posted on the Department of Education’s website</p>
    </div>
</footer>
</body>
</html>