{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>FAIR:PLAY</title>
        <link href="{% static "css/app.css" %}" rel="stylesheet">
        <script src="{% static "js/test.js" %}"></script>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header>
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="{% static "img/fairplay-logo-black.png" %}" width="300" height="68">
                </a>
                <nav>
                    <ul>
                        <li><a href="#">Find Schools</a></li>
                        <li><a href="#">Take Action</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </nav>
                <h1>Pennsylvania schools are short changing female athletes.</h1>
            </div>
        </header>