<html>
    <head><b><center>Fair:Play Ensuring Equity in School Sports</center></b></head>
    <head><b><center>School Name</b>: {{school.name}}</center></head>
    <head>School District | School County: {{school.district.name}}</head>
<!--    <head>Grades X-Y</head> -->
    <head><b>Title IX Gap *2014-2015*   *Gap goes here*</b></head>
    <head><i>How is the gap calculated?</i></head> 
<body>
    
    <h1>Showing Data From:</h1>
    <p>2015-2016<t>2014-2015</t><t>2013-2014</t><t>2012-2013</t></p>
    <h2>Enrollment</h2>
        <p>*Pie chart goes here*</p>
    <h2>Athletic Opportunities</h2>
        <p>*Pie chart goes here*</p><br>
        <p><b>{{opportunities_needed}}</b> new opportunities for girls are needed to achieve equity.</p>    <br>
<!-- this section is just for testing -->
        <p>Num girls {{girls}} <t>Num boys {{boys}}</t></p><br>
        <p>Num girl athletes {{girl_ath}} <t>Num boy athletes {{boy_ath}}</t></p><br>
        <p>multiplier is {{multiplier}}</p><br>
<!-- -->
        <p>Potential additional athletic opportunities if cheerleading qualifies as a competitive sport for this school {{cheerleading_num1}} girls {{cheerleading_num2}} boys</p><br>
        <p><i><small>Calculations on FAIR:PLAY exlude cheerleading, which qualifies as a sport only under specific conditions.</small></i></p><br>
        <h1><i>How does my school stack up?</i></h1>
        <h5>Statewide Title IX Gap <t>{{state_avg}}</t></h5><br>
        <h7><i>Mean for all {{highsc_avg}}</i></h7>
        <h5>Countywide Title IX Gap <t>*Countywide Title IX Gap*</t></h5><br>
        <h7><i>Mean for all *high schools*</i></h7>
        <h4><b>School Name</b>: {{school.name}} ranks *XX* out of *XXX* Pennsylvania *high schools* in providing equitable athletic opportunities, based on Title IX gap.</h4>
        
        <h1><b>School Name</b>: {{school.name}} Over Time</h1>
        <p>*graph goes here*</p>
        
    
</body>

</html>