{% include "header.html" %}
    <main>
        <section class="opportunity">
            <div class="opportunity-wrapper">
                <h2>Can your school do better in providing equal opportunities for female athletes?</h2>
                <p>Title IX requires overall equality in programs offered to female and male athletes, not sport-by-sport equivalence.</p>
                <ul>
                    <li>A quick way to assess your school is to check its Title IX gap. Whether a gap 
                    violates Title IX may depend on the size of the athletic program and 
                    the number of opportunities that would have to be added to achieve proportionality. 
                    A double-digit gap strongly suggests that the school’s athletic program is not in compliance with Title IX.
                    </li>
                    <li>Schools can be in compliance despite a gender gap in athletic opportunities if they can show a history and continuing practice of expanding 
                    opportunities for female athletes or if they can show that their current athletic offerings meet female students’ interests and abilities.
                    </li>
                    <li>Schools also are required to provide equal treatment and benefits to male and female athletes, including equipment and supplies, 
                    game and practice schedules, travel and per diem expense allowances, coaching, locker rooms and practice facilities, and trainer services.
                    </li>
                </ul>
            </div>
        </section>
        <section class="tab">
            <div>
                <h2>Here's how you can take action:</h2>
            </div>
            <div class="tab-header">
                <h2>Option 1: Advocate for voluntary improvements.</h2>    
                <p>
                    Some schools do not know they are out of compliance, and administrators may correct problems voluntarily. 
                    Alert parents, teachers, coaches, and community leaders to the Title IX gap in your school, and request a meeting with the 
                    school principal, school board, Title IX coordinator, and athletic director. Document your conversations with a follow-up email 
                    or letter. Consider filing a formal complaint through your school’s grievance process. Also consider reaching out to local media. 
                    Monitor the Title IX gap next year to see how well the school does in improving equality and alert school officials if 
                    improvements fall short.
                </p>    
            </div>
            <div class="tab-header">
                <h2>Option 2: File an OCR Complaint.</h2> 
                <p>
                    Another approach is to file a complaint with the Office for Civil Rights of the U.S. Department of Education (the federal agency
                    responsible for enforcing Title IX.) The person filing the complaint does not have to be a student, parent, or athlete, or a victim of discrimination. See the OCR page at
                    www.ed.gov for more information. If OCR finds the school is not in compliance with Title IX, it will
                    work with the school to develop a plan to correct violations. There is no cost to file an OCR complaint and it may be possible 
                    for you to remain anonymous. Important: There are strict time limits for filing a complaint in court or with the Office for Civil Rights. Do not delay filing your
                    complaint or you may be prevented from bringing it. For more information, call the Women’s Law Project.
                </p>
            </div>
            <div class="tab-header">
                <h2>Option 3: File a Title IX Lawsuit.</h2>  
                <p>
                    Speak to a lawyer with Title IX experience about the possibilities of bringing a lawsuit in federal court, 
                    especially if your school’s Title IX gap is large, violations are serious and widespread, or you have tried advocacy but significant 
                    improvements are not being made. Anyone harmed by a Title IX violation (for example, a student who is being denied equal 
                    athletic opportunities or equal treatment within the athletics program) can file a civil lawsuit against the school. 
                    You will need to be prepared to spend time working with your lawyer and to appear for court or other scheduled events.
                </p>
            </div>
            <div class="tab-header">
                <h2>Retaliation</h2>    
                <p>
                    It is illegal for a school to retaliate against you for complaining about discrimination in violation of Title IX.
                    If you think you are being retaliated against for seeking fair opportunities or equal treatment in your school’s 
                    athletic program, call a Title IX lawyer immediately.
                </p>
            </div>
        </section>
    </main>
{% include "footer.html" %}