{% include "header.html" %}
    <main>
        <section class="intro">
            <div class="intro-wrapper">
                <h1>Can your school do better in providing equal opportunities for female athletes?</h1>
                <p>Title IX requires overall equality in programs offered to female and male athletes, not sport-by-sport equivalence.</p>
                <ul>
                    <li>A quick way to assess your school is to check its Title IX gap. Whether a gap 
                    violates Title IX may depend on the size of the athletic program and 
                    the number of opportunities that would have to be added to achieve proportionality. 
                    A double-digit gap strongly suggests that the school’s athletic program is not in compliance with Title IX.
                    </li>
                    <li>Schools can be in compliance despite a gender gap in athletic opportunities if they can show a history and continuing practice of expanding 
                    opportunities for female athletes or if they can show that their current athletic offerings meet female students’ interests and abilities.
                    </li>
                    <li>Schools also are required to provide equal treatment and benefits to male and female athletes, including equipment and supplies, 
                    game and practice schedules, travel and per diem expense allowances, coaching, locker rooms and practice facilities, and trainer services.
                    </li>
                </ul>
            </div>
        </section>
        <section class="school-search">
            <div class="school-search-container">
                <h2>Here's how you can take action!</h2>
                <p>Find your school's Title IX gap and see how it compares to other schools in your county and statewide.</p>
            </div>
        </section>
    </main>
{% include "footer.html" %}