{% include "header.html" %}
    <main>
        <section>
            <div class="opportunity-wrapper">
                <h2>Tips for Users</h2>
                <h3 class='red'>Trouble Finding Your School?</h3>
                <p>Try these tips:</p>
                <ul>
                    <li>You may have trouble finding your school since the Department of Education database uses abbreviations inconsistently (e.g., "Mount" vs. "Mt.", "Saint" vs. "St.", or "Center" vs. "Ctr."). Try a few variations!</li>
                    <li>Enter fewer search terms into the FAIR:PLAY search engine. For example, rather than entering your full school name, simply enter the first few letters of your school name (for example "Penn" or "Pit" or "Quak"), then scroll the results and choose your school.</li>
                    <li>Check the county where the school is located to make sure you’ve selected the right one.</li>
                </ul>
            </div>
        </section>
        <section class="opportunity">
            <div class="opportunity-wrapper">
                <h3 class='red'>Get the Big Picture</h3>
                <p>The Title IX Gap % calculated by FAIR:PLAY is an important indicator regarding the Title IX performance of your school. However it is important to look at the big picture.</p>
                <p>To get a more accurate picture be sure to <strong>check results for multiple years</strong>.</p>
                <p>To confirm results and see your school's full report – which should include information about equipment and supplies, coaching, locker rooms and practice facilities, etc. -- see the athletic opportunity disclosure spreadsheets on the <a href="http://www.education.pa.gov/Teachers%20-%20Administrators/Interscholastic%20Athletic%20Opportunity/Pages/default.aspx#tab-1">Pennsylvania Department of Education website</a>.</p>
                <p><strong>Note:</strong> <em>Calculations on FAIR:PLAY exclude cheerleading ("Competitive Spirit"), which qualifies as a sport only under certain conditions. If cheerleading meets these conditions, the Title IX gap for a school may be lower than calculated on FAIR:PLAY.</em></p>
            </div>
        </section>
        <section>
            <div class="opportunity-wrapper">
                <h3 class="red">Reporting Problems</h3>
                <p>Be aware that some school districts have reported incomplete or inaccurate data or failed to report for some or all years. If you see a result that doesn't make sense, check the original databases on the <a href="http://www.education.pa.gov/Teachers%20-%20Administrators/Interscholastic%20Athletic%20Opportunity/Pages/default.aspx#tab-1">Department of Education website</a> to see what data if any your school district reported.</p>
                <p>The <a href="http://www.education.pa.gov/Teachers%20-%20Administrators/Interscholastic%20Athletic%20Opportunity/Pages/default.aspx#tab-1">Department of Education website</a> also lists schools that fail to report or submit incomplete information. You can file a Right to Know request to get this missing information.  For assistance, please contact the Women's Law Project.</p>
            </div>
        </section>
        <section class="opportunity">
            <div class="opportunity-wrapper">
                <h3 class="red">Suspect a Title IX Violation? Contact the Women's Law Project</h3>
                <p>If you suspect your school may be in violation of Title IX, you can make a real difference as a champion for fairness. For a free and confidential consultation with an expert attorney, call the Women's Law Project at <a href="tel:1-215-928-9801">(215) 928-9801</a> (Philadelphia office) or <a href="tel:1-412-281-2892">(412) 281-2892</a> (Western Pennsylvania office).</p>
            </div>
        </section>
        <section>
            <div class="opportunity-wrapper">
                <h3 class="red">Give Us Your Feedback</h3>
                <p>Finally, FAIR:PLAY is a team effort and a work in progress! Please let us know of any improvements you'd like to see in the FAIR:PLAY site and search. Email us at <a href="mailto:infopitt@womenslawproject.org">infopitt@womenslawproject.org</a>.</p>
            </div>
        </section>
    </main>
{% include "footer.html" %}