{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>FAIR:PLAY</title>
        <link href="{% static "css/app.css" %}" rel="stylesheet">
        <script src="{% static "js/vendor/jquery-3.2.1.min.js" %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static "js/test.js" %}"></script>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header>
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="{% static "img/fairplay-logo-black.png" %}" width="300" height="68">
                </a>
                <nav>
                    <ul>
                        <li><a href="/take_action">Take Action</a></li>
                        <li><a href="/donate">Donate</a></li>
                    </ul>
                </nav>
                <h1>Pennsylvania schools are short changing female athletes.</h1>
            </div>
        </header>