{% include "header.html" %}
    <main>
        <section class="school-search">
            <div class="school-search-container">
                <h2>Is your school one of them?</h2>
                <p>Find your school's Title IX gap and see how it compares to other schools in your county and statewide.</p>
            <form action="." method="post"> {% csrf_token %}      
                <input type="search" name="search" placeholder="Enter school name">
            </form>
            {% if schools %}
                <p>These schools start with <b>"{{search}}":</b></p>
                <ul class="school">
                {% for school in schools %}
                    <li>
                        <h3><a href="school_view/{{school.composite_id}}">{{school.name}}</a></h3>
                        <span class="school__district"><b>District: </b><span>{{school.district.name}}</span></span>
                        <span class="school__county"><b>County: </b><span>{{school.county}}</span></span>
                    </li>
                {% endfor %}
                
            {% elif search and not schools %}
                    No schools started with {{search}}
            {% endif %}
                </ul>
            </div>
        </section>
        
        <section class="intro">
            <div class="intro-wrapper">
                <p>Title IX guarantees equitable educational opportunitities for girls and young women, including in athletics. 
        The law has been in force for over 40 years, yet many Pennsylvaia schools do not appear to be complying.</p>
            </div>
        </section>
    </main>
{% include "footer.html" %}