{% load static %}
<html>
    <head>
        <script src="{% static "js/test.js" %}"></script>
    </head>
    <body>
        {% if schools %}
            These schools start with "{{query}}":<br />
            {% for school in schools %}
                <b>School</b>: {{school.name}} <b>District</b>: {{school.district.name}}<br />
            {% endfor %}
        {% elif query and not schools %}
                No schools started with {{query}}
        {% else %}
            Put a ?query=something at the end of the url to search something
        {% endif %}
    </body>
</html>