@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    margin:0;
}
header {
    background-color:#41a2b4; 
    padding:8px;
    opacity:0.6;
}
nav ul{
    padding-left:0;
}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
nav ul li:last-child{
    margin-right:0;
}
nav ul li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition:color 0.3s ease-in;
    
}
nav ul li a:hover{
    color: #ff7128;
}


main {
    width:60%;
    margin:0 auto;
}
h1 {
    text-align:center;
}
.school {
    list-style-type:none;
    padding-left:0;
}
.school li{
    background-color: #e6e6e6;
    padding:16px;
    margin-bottom:16px; 
}
.school li h3{
    margin-top:0;
}

.school__district, .school__county{
    font-size:14px; 
}
.school__district{
    margin-right:20px; 
}
}