.school-details {
    background-color: #6BA2B9;
    color: #FFF;
}
.school-details:after {
    content: "";
    display: table;
    clear: both;
}
.school-details__info {
    display: inline-block;
    padding: 0 2rem;
}
.school-details__info h2 {
    margin-top: 0;
}
.school-details__gap h3 {
    font-size: 20.7px;
    margin-bottom: 0;
}

.school-details__state-gap {
    font-size: 18.72px;
    font-weight: bold;
}

.school-details__pie-years h2 {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.school-details__pie-years ul {
    display: block;
    width: 100%;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0 0 0 1.2rem;
}
.school-details__pie-years li {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    background-color: #6FA4B7;
    color: #FFF;
}
.school-details__pie-years li a {
    color: #FFF;
    padding: 1rem 2rem;
    display: inline-block;
}
.school-details__pie-years li.ui-state-active {
    background-color: #ff7128;
}
.school-details__totals:after {
    content: "";
    display: table;
    clear: both;
}
.school-details__opportunities {
    background-color: #6FA4B7;
    color: #FFF;
}
.school-details__opportunities-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.school-details__state-gap h3 {
    color: #ff7128;
    font-style: italic;
    margin-top: 0;
}

.school-details__total-enrollment, .school-details__total-athletes {
    width: 100%;
}
.school-details__total-enrollment span, .school-details__total-athletes span {
    display: block;
}

.title-ix {
    padding: 2rem 0;
}

.title-ix h2, .title-ix p {
    padding: 0 2rem;
}

#tabs .tab-detail {
    background-color: rgba(107, 162, 186, 0.33);
    padding: 0 1.5rem;
}

#tabs .tab-detail h2 {
    text-decoration: underline;
    margin-bottom: 0;
}

#tabs .tab-detail section, .school-details__pie-years ul {
    max-width: 1100px;
    margin: 0 auto;
}

#tabs .tab-detail section {
    padding: 1rem 0 0.5rem 0;
}

@media only screen and (min-width: 561px) {
    .school-details__totals {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .school-details__total-enrollment, .school-details__total-athletes {
        width: 50%;
        display: inline-block;
    }
}